/* Importação de fontes*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,200;1,300;1,400;1,500;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

body {
	font-family: 'Roboto', sans-serif;
	color: #7e7e7e;
	background-color: #fafafa /* #fafafa #e9ecef*/;
}

/* Fonte secundária da aplicação, usada em textos de display */
.display-font {
	font-family: 'Montserrat', sans-serif;
}

/* button {
	background-color: #fe9a2e;
}
.btn-orange {
	background-color: #fe9a2e;
} */

.avatar {
	background-color: #dadada;
	/* border: 2px solid #242424; */
	width: 200px;
	height: 200px;
	min-width: 150px;
	min-height: 150px;
	border-radius: 50%;
}

/* linkStyle está sendo utilizado para links padrão */
.linkStyle {
	text-decoration: none;
	color: #fe9a2e;
}

.linkStyle:hover {
	color: #ffbe5c;
	border-bottom: 1px #ffbe5c solid;
}

/* navlinkStyle está sendo utilizado na barra de navegação */
.navlinkStyle {
	color: #fafafa;
	text-decoration: none;
	/* border-bottom: 2px solid #f7be81; */
}

.navlinkStyle:hover {
	color: #fafafa;
	border-bottom: 2px solid #fafafa;
}

/* input[type='text'],
input[type='password'] {
} */

.instructions {
	background: #adb5bd;
	position: absolute;
	margin-top: 0.25rem;
	padding: 0.25rem 0.5rem;
	color: #212529;
	border-radius: 0.375rem;
	/* adb5bd, 6c757d */
}

.instructions > svg {
	margin-right: 0.25rem;
}

.offscreen {
	visibility: hidden;
	display: none;
}

.hide {
	display: none;
}

.valid {
	fill: #198754;
	border-color: #198754;
}

.invalid {
	fill: #dc3545;
	border-color: #dc3545;
}

.errormsg {
	background-color: rgb(220, 53, 69, 0.25);
	color: #dc3545;
	font-weight: bold;
	border-radius: 0.375rem;
}

.input-valid {
	border-color: #198754;
}
.input-invalid {
	border-color: #dc3545;
}
.input-valid:focus {
	border-color: #198754;
	box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
}
.input-invalid:focus {
	border-color: #dc3545;
	box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}
